@main("The Pincubator -> Grab Pins") {

<div class="container">

    <h1>Want pins? Sure</h1>

    <div class="accordion" id="criteria">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#criteria" href="#criteriaPanel">
                    Search criteria
                </a>
            </div>
            <div id="criteriaPanel" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="tags">Matching tags:</label>
                            <div class="controls">
                                <input type="text" id="tags" data-provide="typeahead" placeholder="Enter some tags here" style="width: 100%" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Redemption status:</label>
                            <div class="controls">
                                <div class="btn-group" data-toggle="buttons-radio">
                                    <button type="button" class="btn btn-primary">Unredeemed</button>
                                    <button type="button" class="btn btn-primary">Redeemed</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="hero-unit center">
        <div id="pin" onclick="selectText('pin')"><h1>MSUCCESS3MO</h1></div>
        <p>blackhawk, integration, 3-month</p>
        <p>Imported 1/1/2012</p>
        <button type="button" class="btn btn-warning">Skip this pin</button>
        <button type="button" class="btn btn-success">Mark as redeemed</button>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('#tags').tagsInput({ autocomplete_url: 'tags', width: '100%', height: '20px', defaultText: 'Enter tags' });
    });

    function selectText(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
        }
    }
</script>

}